<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.avp.wallet">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.haku.wallet.SpinnerActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.haku.wallet.tag.TagsActivity"
                android:label="@string/title_activity_tag"
                android:parentActivityName="com.haku.wallet.SpinnerActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.haku.wallet.DrawerActivity"/>
        </activity>
        <activity
                android:name="com.haku.wallet.tag.TagDataActivity"
                android:label="@string/title_activity_tag_data"
                android:parentActivityName="com.haku.wallet.tag.TagsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.haku.wallet.tag.TagsActivity"/>
        </activity>
        <activity
                android:name="com.haku.wallet.account.AccountDataActivity"
                android:label="@string/title_activity_account_data"
                android:parentActivityName="com.haku.wallet.SpinnerActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.haku.wallet.DrawerActivity"/>
        </activity>
        <activity
                android:name="com.haku.wallet.account.debt.AccountDebtDataActivity"
                android:label="@string/title_activity_account_debt_data"
                android:parentActivityName="com.haku.wallet.SpinnerActivity">
        </activity>
        <activity
                android:name="com.haku.wallet.account.move.AccountMoveDataActivity"
                android:label="@string/title_activity_account_move_data"
                android:parentActivityName="com.haku.wallet.SpinnerActivity">
        </activity>
    </application>

</manifest>
